<h2>Forget Password</h2>

<% form_tag url(:password_forget, :create) do %>
  <div class="field">
    <%= label_tag :email, :class => 'label' %>
    <div class="control">
      <%= text_field_tag :email, :class => 'input' %>
    </div>
  </div>

  <div class="field">
    <div class="control">
      <%= submit_tag "Reset password", class: "button is-large is-link" %>
    </div>
  </div>
<% end %>

