body {
  font: 18.5px Palatino, 'Palatino Linotype', Helvetica, Arial, Verdana,
    sans-serif;
  text-align: justify;
}

h1 {
  font-size: 200%;
  padding-bottom: 20px;
}

/* Tab Navigation */
.tabs ul {
  border-bottom: none;
}

