<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Job Vacancy - find the best jobs</title>
    <%= stylesheet_link_tag '../assets/application' %>
    <%= javascript_include_tag '../assets/application' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
